/* FONTS
https://fonts.adobe.com/fonts/helvetica-neue-world

55 ROMAN
font-family: "helvetica-neue-world", sans-serif;
font-weight: 400;
font-style: normal;

56 ITALIC
font-family: "helvetica-neue-world", sans-serif;
font-weight: 400;
font-style: italic;

75 BOLD
font-family: "helvetica-neue-world", sans-serif;
font-weight: 700;
font-style: normal;

76 BOLD ITALIC
font-family: "helvetica-neue-world", sans-serif;
font-weight: 700;
font-style: italic;
*/

:root{
    --global-type: "helvetica-neue-world", "helvetica neue", helvetica, arial, sans-serif;
    --background: #1c1c1c;
    --foreground: #e3e3e3;
    --border: 10px;
    /* --background-gradient: linear-gradient(90deg,#111111 0%, #1c1c1c 25%, #1c1c1c 50%, #1c1c1c 75%, #111111 100%); */
    --background-gradient: linear-gradient(180deg,#111111 0%, #1c1c1c 25%, #1c1c1c 100%);
}

*{
    box-sizing: border-box;
}

/* elements */

body{
    font-family: var(--global-type);
    background: var(--background-gradient);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--background);
    color: var(--foreground);
    padding: 25px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-container{
    width: 100%;
    max-width: 900px;
}

a{
    color: var(--foreground);
    opacity: .75;
    transition-duration: .25s;
}

a:hover{
    opacity: 1;
}

.nodecor{
    opacity: 1;
    text-decoration: none;
}

/* global header */

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo-image{
    width: 25px;
}

.right-header{
    display: flex;
    gap: 10px;
}

/* page contents */

.page{
    width: 100%;
}

.page-title{
    margin: 0;
    line-height: 1.2;
}

.page-subtitle{
    margin: 0;
    font-weight: 400;
}

.work-grid{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.workpiece{
  width: 280px;
  height: auto;
  transition-duration: .25s;
}

.work-preview{
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.work-caption{
  text-align: center;
}

.workpiece:hover{
    scale: 1.05;
}

/* hero */

/* 
            <div class="hero">
                <img src="./src/img/hero.png" alt="hero-image" class="hero-image">
            </div>
*/

.hero{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border);
}

.hero-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border);
    background: #000;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.592);
    /* min-height: 500px; */
    margin-top: 25px;
}

iframe.hero-image{
    min-height: 500px;
}


